
<div class='container w-75'>
    <h2 align='center'>All Appointments in Order by Date</h2>
    <table class='table table-striped'>
        <tr align='center'>
            <th scope='col'>Date</th>
            <th scope='col'>Time</th>
            <th scope='col'>Customer</th>
            <th scope='col'>Description</th>
            <th scope='col'>Advisor</th>
            <th scope='col'>Type</th>
            <th scope='col'>Action</th>
        </tr>
        
        <% @appointments.each do |appt| %>
            <tr>
                <td><%= appt.appt_date %></td>
                <td><%= Time.parse(appt.appt_time).strftime("%H:%M")%></td>
                <td><%= appt.customer.name %></td>
                <td><%= appt.description %></td>
                <td>
                    <% if appt.employee.nil? %>
                        Employee Not Found
                    <% else %>
                        <%= appt.employee.name %>
                    <% end %>
                </td>
                <td><%= appt.appt_type %></td>
                <td>
                    <%= link_to "Edit Appointment", edit_admin_appointment_path(appt), class: 'btn btn-block btn-secondary m-2' %>
                    <%= button_to "Delete Appointment", admin_appointment_path(appt), method: 'delete', class: 'btn btn-block btn-danger m-2' %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
