
<form class='form-horizontal center'>
    <%= form_for vehicle do |f| %>
        <div class='field'>
            <%= f.label :description, class: "col-sm-2 control-label" %>
            <%= f.text_area :description %>
        </div>
        

              
               
                <p>Price: <%= vehicle.price %></p>
                <p>Model Year: <%= vehicle.year %></p>
                <p>Mileage: <%= vehicle.mileage %></p>
           
    <% end %>



</form>
