
<div class='container'>
    <%= form_for vehicle do |f| %>
        <h4>Retail Price: <%= f.number_field :price %></h4>
        <div class='form-row'>
            <div class='col'>
            <%= f.fields_for :make do |make| %>
                Select or Create Make:
                <%= make.text_field :name, list: "makes_autocomplete" %>
                <datalist id="makes_autocomplete">
                    <% @makes.each do |make| %>
                        <option value="<%=make.name %>">
                    <% end %>
                </datalist>
            <% end %>
            </div>
            <div class='col'>
            <%= f.fields_for :carname do |model| %>
                Select or Create Model:
                <%= model.text_field :name, list: "carnames_autocomplete" %>
                <datalist id="carnames_autocomplete">
                    <% @carnames.each do |model| %>
                        <option value="<%= model.name %>">
                    <% end %>
                </datalist>
            <% end %>
            </div>
        </div>
        <div class='form-row'>
            <div class='col'>
                <%= f.label :year %> <%= f.number_field :year %>
            </div>
            <div class='col'>
                <%= f.label :mileage %> <%= f.number_field :mileage %>
            </div>
            <div class='col'>
                <%= f.label :vin %> <%= f.text_field :vin %>
            </div>
        </div>
        <div class='form-group'>
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
        </div>
        <div class='form-group'>
            <%= f.label :options %>
            <%= f.text_area :options, class: 'form-control' %>
        </div>

        <div class='form-row'>
            <div class='col'>
                <%= f.label :doors %> <%= f.number_field :doors %>
            </div>
            <div class='col'>
                <%= f.label :body_style %> <%= f.text_field :body_style %>
            </div>
            <div class='col'>
                <%= f.label :transmission %> <%= f.text_field :transmission %>
            </div>
        </div>
        <div class='form-row'>
            <div class='col'>
                <%= f.label :drivetrain %> <%= f.text_field :drivetrain %>
            </div>
            <div class='col'>
                <%= f.label :fuel_type %> <%= f.text_field :fuel_type %>
            </div>
            <div class='col'>
                <%= f.label :type %> <%= f.text_field :type, placeholder: "New/Used" %>
            </div>
        </div>                     
        <div class='form-row'>
            <div class='col'>
                <%= f.label :ext_color %> <%= f.text_field :ext_color %>
            </div>
            <div class='col'>
                <%= f.label :int_color %> <%= f.text_field :int_color %>
            </div>
        </div>       
        <div class='form-row'>
            <div class='col'>
                <%= f.label :mileage_city %> <%= f.text_field :mileage_city %>
            </div>
            <div class='col'>
                <%= f.label :mileage_hwy %> <%= f.text_field :mileage_hwy %>
            </div>
        </div>
        <div class='form-row'>
           <%= f.label :sold %> <%= f.text_field :sold %>
        </div>               
        <h4 align='center'>Link up to Ten Photos</h4>
        <%= f.fields_for :photos do |photo| %>
            <div class='form-row'>
                <div class='col'>
                    <%= photo.label :description %>
                    <%= photo.text_field :description %>
                </div>
                <div class='col'>
                    <%= photo.label :link_to_photo %>
                    <%= photo.text_field :link_to_photo %>
                </div>
            </div>
        <% end %>   
        <div class='form-row'>
            <%= f.submit class: 'btn btn-primary' %>
        </div>
    <% end %>
</div>