<div class='container'>
    <div class='row'>
        Filter Results:
    </div>
    <div class='row'> 
    <%= form_tag(vehicles_path, method: 'get') do %>
       
            <%= collection_select @vehicles, :make, @makes, :id, :name %>       
            <%= submit_tag "Filter by Make" %>
       
           
            <%= collection_select @vehicles, :model, @models, :id, :name %>       
            <%= submit_tag "Filter by Model" %>
           
            <div class='col'>
                Order by price
            </div>
            <div class='col'>
                Order by make
            </div>
            <div class='col'>
                Order by Year
            </div>
    <% end %>  
        

    </div>


</div>

<div class='container'>
    <div class='row row-cols-2'>
        <% @vehicles.each do |vehicle| %>
            
            <div class='card'>
                <%= link_to vehicle_path(vehicle) do %>
                    <h4>
                        <%= vehicle.year %>
                        <%= vehicle.make.name %>
                        <%= vehicle.carname.name %>
                    </h4>
                <% end %>
                <% if vehicle.photos.first %>    
                    <img class='img-fluid' src=<%= vehicle.photos.first.link_to_photo %> alt=<%= vehicle.photos.first.description %>>
                <% else %>
                    <img class='img-fluid' src='/images/andrew.jpg' alt='Missing Photo'>
                <% end %>
                <div class='card-body'>
                <h5>
                    <strong>Price:</strong> <%= "$" + vehicle.price.to_s(:delimited) %>
                    <strong> Mileage:</strong> <%= vehicle.mileage %>
                </h5>
                </div>
            </div>
        <% end %>
    </div>
</div>