<div class='container'>
    <div class='row'>
        Filter Results:
    </div>
    <div class='row'>
    <%= form_tag(vehicles_path, method: 'get') do %>
        <span>Make: 
            <%= select_tag "make", options_from_collection_for_select(@makes, :id, :name), include_blank: true %>       
        </span>
        <span>or Model:      
            <%= select_tag "carname", options_from_collection_for_select(@carnames, :id, :name), include_blank: true %>       
        </span>   
            <%= submit_tag "Filter", class: 'btn btn-success' %>
    </div>
    <div class='row'>
        <%= link_to "Order by Price", vehicles_path(order_by: 'price'), class: 'btn btn-success m-2' %>
        <%= link_to "Order by Make", vehicles_path(order_by: 'make'), class: 'btn btn-success m-2' %>
        <%= link_to "Order by Year", vehicles_path(order_by: 'year'), class: 'btn btn-success m-2' %>
        <%= link_to "Older than 2000", vehicles_path(select: 'older'), class: 'btn btn-warning m-2' %>
        <%= link_to "Newer than 2015", vehicles_path(select: 'newer'), class: 'btn btn-warning m-2' %>
        <%= link_to "Remove Filters", vehicles_path, class: 'btn btn-info m-2' %>
    <% end %>  
    </div>
</div>

<div class='container'>
    <div class='row'>
        <% @vehicles.each do |vehicle| %>
            
            <div class='card col-md-5 m-3'>
                <%= link_to vehicle_path(vehicle) do %>
                    <h4 align='center'>
                        <%= vehicle.year %>
                        <%= vehicle.make.name %>
                        <%= vehicle.carname.name %>
                    </h4>
                <% end %>
                <% if vehicle.photos.first %>    
                    <img class='img-fluid' src=<%= vehicle.photos.first.link_to_photo %> alt=<%= vehicle.photos.first.description %>>
                <% else %>
                    <img class='img-fluid' src='/images/andrew.jpg' alt='Missing Photo'>
                <% end %>
                <div class='card-body'>
                <h5>
                    <strong>Price:</strong> <%= "$" + vehicle.price.to_s(:delimited) %>
                    <strong> Mileage:</strong> <%= vehicle.mileage %>
                </h5>
                </div>
            </div>
        <% end %>
    </div>
</div>